.calendar {
  background: transparent url('../../uploads/assets/bg-calendar.gif') no-repeat left top scroll;
  height: 172px;
  width: 180px;
  padding-bottom: 10px;
}
.calendar h2 {
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 1px;
  text-align: center;
}
.calendar .ui-datepicker-inline {
  padding-right: 4px;
  padding-left: 3px;
}
.calendar a.ui-datepicker-prev span,
.calendar a.ui-datepicker-next span {
  color: #ffffff;
  cursor: pointer;
  display: block;
  line-height: 21px;
  text-align: center;
  width: 24px;
}
.calendar a.ui-datepicker-prev:hover span,
.calendar a.ui-datepicker-next:hover span {
  font-weight: bold;
}
.calendar a.ui-datepicker-prev {
  float: left;
}
.calendar a.ui-datepicker-next {
  float: right;
}
.calendar .ui-datepicker-title {
  color: #ffffff;
  line-height: 21px;
  text-align: center;
}
.calendar table.ui-datepicker-calendar {
  border-collapse: separate;
  width: 100%;
}
.calendar table.ui-datepicker-calendar th,
.calendar table.ui-datepicker-calendar td {
  text-align: center;
}
.calendar table.ui-datepicker-calendar th {
  height: 20px;
  line-height: 18px;
}
.calendar table.ui-datepicker-calendar td {
  height: 17px;
  line-height: 17px;
}
.calendar table.ui-datepicker-calendar td a {
  display: block;
}
.calendar table.ui-datepicker-calendar td.ui-datepicker-today {
  background-color: #888888;
}
.calendar table.ui-datepicker-calendar td.ui-datepicker-current-day {
  background-color: #d00119;
}
.calendar table.ui-datepicker-calendar td.ui-datepicker-today a,
.calendar table.ui-datepicker-calendar td.ui-datepicker-today a:hover,
.calendar table.ui-datepicker-calendar td.ui-datepicker-current-day a,
.calendar table.ui-datepicker-calendar td.ui-datepicker-current-day a:hover {
  color: #ffffff;
}

/* search results */
#results .ui-accordion-header a {
  padding: 0;
}
#results .tour_show .dm_widget_inner h3 {
  display: none;
}