body {
  background-color: #FCDD80;
}

.dm_layout {
  padding: 10px 0 0;
}

.dm_layout_top {
}

.dm_layout_center {
  background: transparent url('../../uploads/assets/bg-layout-center.gif') repeat-y left top scroll;
}
.dm_layout_left {
  float: left;
  padding-bottom: 42px;
}
.dm_page_content {
  float: left;
  padding-bottom: 50px;
  width: 720px;
}
.dm_layout_stadtplan,
.dm_layout_gutscheine {
  display: none;
}
