html, body {
    height: 100%;
}
#dm_page {
  min-height: 100%;
  height: auto !important;
  background-color: #FFF;
  padding: 0 16px;
  width: 924px;
  margin: 0 auto;
  overflow: hidden;
}
body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
}
h1 {
    font-size: 1.6em;
}
h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1.3em;
    font-weight: bold;
}
h4 {
    font-size: 1.2em;
    font-weight: bold;
}
h1, h2, h3, h4 {
    color: #f60d00;
    margin-bottom: 0.5em;
}
a {
    color: #333333;
    text-decoration: none;
}
a:hover {
    color: #000000;
}
h1 a, h2 a, h3 a, h4 a,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
  color: #f60d00;
}
p {
  line-height: 1.5em;
}

/* common classes */
.small {
  font-size: 0.9em;
}
.big {
  font-size: 1.2em;
}
.black {
  color: #000000;
}
.red {
  color: #f60d00;
}
.bold {
  font-weight: bold;
}
.display_none {
  display: none;
}

.search_form {
    text-align: right;
}
.search_form input.query {
    margin-right: 10px;
}


.divider {
  border-bottom: 1px solid #f60d00;
  height: 0;
  line-height: 0;
  margin: 30px 0;
}

.dm_layout_left .dm_widget {
  background-color: #ffffff;
  /*padding-bottom: 10px;*/
}

.dm_layout_left .dm_widget.last,
.dm_layout_left .dm_widget:last-child {
  padding-bottom: 0;
}

.layout-left-bottom {
  background: transparent url('../../uploads/assets/bg-layout-left-bottom.gif') no-repeat left top scroll;
  height: 8px;
  width: 180px;
}

.link.teaser-tickets,
.link.teaser-stadtplan,
.link.teaser-schenken {
  background: transparent none no-repeat left top scroll;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 22px;
  line-height: 22px;
  padding-top: 1px;
  padding-left: 3px;
  padding-right: 4px;
  text-align: center;
  width: 173px;
}

.link.teaser-tickets {
  background-image: url('../../uploads/assets/teaser-tickets-bestellen.gif');
  padding-bottom: 91px;
}
.link.teaser-stadtplan {
  background-image: url('../../uploads/assets/teaser-stadtplan.jpg');
  padding-bottom: 202px;
}
.link.teaser-schenken {
  background-image: url('../../uploads/assets/teaser-leipzig-schenken.gif');
  padding-bottom: 91px;
}

.teaser-hotline {
  background: transparent url('../../uploads/assets/teaser-hotline.gif') no-repeat left top scroll;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  height: 44px;
  line-height: 22px;
  padding: 2px 4px 14px 3px;
  text-align: center;
  width: 173px;
}

.tour_date_list_by_date .elements .element,
.tour_list_handicap .elements .element {
  list-style-type: none;
  padding: 0.5em 0;
}
.price-table table {
  border-collapse: collapse;
  font-weight: bold;
  width: 100%;
}
.price-table table th.col-german,
.price-table table th.col-foreign {
  width: 30%;
}
.price-table table thead tr th,
.price-table table tbody tr.even td {
  background-color: #eeeeee;
}
.price-table table th,
.price-table table td {
  padding: 2px;
}
.price-table table .col-hours {
  padding-left: 5px;
}
.price-table table .col-german,
.price-table table .col-foreign {
  text-align: center;
}
.other-price-table table {
  margin-bottom: 10px;
}
.other-price-table table td {
  padding: 2px 30px 2px 0;
}

.tour_show h3 {
  padding-right: 200px;
}
.tour_show .markdown {
  padding-right: 200px;
  position: relative;
}

.dm_widget.content_text .dm_widget_inner.image-right .text_content .text_image {
  float: right;
  margin: 0 0 15px 15px;
}


.main_sitemap ul li {
  line-height: 1.5em;
}
.main_sitemap ul li ul {
  padding-left: 1em;
}
.dm_layout.culture_de .hide_german,
.dm_layout.culture_en .hide_english {
  display: none;
}
.hide-request-link .request-link {
    display: none;
}
.dm_layout .only-startpage {
  display: none;
}
.page_main_root .dm_layout .only-startpage {
  display: block;
}

.contact_form form .row{
  margin-bottom: 5px;
}
.contact_form form label {
  clear: left;
  float: left;
  width: 10em;
}
.contact_form form input,
.contact_form form textarea,
.contact_form form ul.error_list {
  float: left;
}
.contact_form form .notice_wrap,
.contact_form form .submit_wrap {
  padding-left: 10em;
}
.contact_form form label,
.contact_form form input,
.contact_form form ul.error_list {
  height: 1.5em;
  line-height: 1.5em;
}
.contact_form form label.has_error {
  color: red;
}
.contact_form form ul.error_list {
  color: red;
  padding-left: 5px;
}
.contact_form input.text {
  width: 200px;
}
.contact_form input.shorttext {
  width: 50px;
}
.contact_form textarea.longtext {
  height: 150px;
  width: 350px;
}

.contact_form input.submit {
  padding: 1px 5px;
  height: auto;
  border: 1px solid #888;
}


table.partner td {
  padding: 0 10px 20px 0;
  vertical-align: top;
}

table.partner td a, table.partner td a:hover {
  /*color: #f60d00;*/
}
ol.search_results li.search_result {
  margin-bottom: 10px;
}
ol.search_results li span.page_name {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}
div.partner_list div.partner {
  width: 50%;
  text-align: center;
  padding-bottom: 30px;
}



.news-box-header {
  background-color: #faba00;
  margin: 0 0 2px;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 5px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}
.news-box-content {
  background-color: #fcdd80;
  padding: 5px 10px 10px;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}
.news-box-content h3 {
  font-size: 14px;
  margin: 0;
}
.news-box-content p {
  margin-bottom: 1em;
}

.dm_layout_left .dm_widget .sidebar-links {
  background: transparent url('../../uploads/assets/bg-layout-center.gif') repeat-y left top scroll;
  font-size: 10px;
  text-align: center;
}

/* Tour "Der Tunnelblick" */
.tour_204 {
  min-height: 540px;
}

/*Tour "Die geschaetzte Metropole" fuer Gruppen */
.tour_215 {
  min-height: 480px;
}

/* STOPPER */
.stopper_neu {
  background: transparent url('../../uploads/assets/Stopper_neu.jpg') no-repeat top right scroll;
}
.stopper_neu > img.fright {
  margin-top: 70px;
}
.stopper_1000jahre {
  background: transparent url('../../uploads/assets/1000_Jahre_Leipzig_Logo.jpg') no-repeat top right scroll;
}
.stopper_1000jahre > img.fright {
  margin-top: 130px;
}
.stopper_25jahre {
  background: transparent url('../../uploads/assets/Stopper_25jaehriges.jpg') no-repeat top right scroll;
}
.stopper_25jahre > img.fright {
  margin-top: 80px;
}
.stopper_freitags {
  background: transparent url('../../uploads/assets/Stopper_immer_freitags.jpg') no-repeat top right scroll;
}
.stopper_samstags {
  background: transparent url('../../uploads/assets/Stopper_immer_samstags.jpg') no-repeat top right scroll;
}
.stopper_freitags > img.fright,
.stopper_samstags > img.fright {
  margin-top: 70px;
}


.culture_de a.request-link,
.culture_de a.group-request-link,
.culture_de a.citytixx-link {
  background: transparent url('../../uploads/assets/Tickets_anfragen.jpg') no-repeat top left scroll;
  display: block;
  float: left;
  height: 42px;
  width: 170px;
  text-indent: -9999em;
  overflow: hidden;
}
.culture_de a.citytixx-link {
  background-image: url('../../uploads/assets/Tickets_kaufen.jpg');
  margin-left: 10px;
}
.culture_de a.group-request-link {
  background-image: url('../../uploads/assets/Anfrage_Gruppen.jpg');
}

.culture_en a.request-link,
.culture_en a.group-request-link,
.culture_en a.citytixx-link {
  display: block;
  line-height: 1.5em;
  text-decoration: underline;
}

a.underline {
  text-decoration: underline;
}
