.markdown p,
.markdown ul {
  margin-bottom: 1em;
}

.markdown h2 {
  font-size: 140%;
}

.markdown h3 {
  font-size: 130%;
}

.markdown h4 {
  font-size: 120%;
  font-weight: bold;
}

.markdown em {
  font-style: italic;
}

.markdown strong {
  font-weight: bold;
}

.markdown li {
  list-style: disc outside;
  margin-bottom: 3px;
  margin-left: 1.4em;
}


.markdown label {
  display: inline-block;
  width: 10em;
}
