/* Pager + Breadcrumb */
.elements .element {
    list-style: disc inside;
    padding: 1em;
}
.pager {
    text-align: center;
}

.navigation_bread_crumb li, .pager li {
    display: inline;
    margin: 0 5px;
}
.navigation_bread_crumb li,
.navigation_bread_crumb li a{
  color: #f60d00;
  margin: 0;
}
.navigation_bread_crumb li.bread_crumb_separator {
  margin-right: 5px;
}


/* Top (Meta) Navigation */
.header_right .main_switch_culture,
.header_right .navigation_menu {
  float: right;
}
.language_switcher,
.top_navigation {
    text-align: right;
    font-size: 11px;
}
.language_switcher ul,
.top_navigation ul {
    display: inline-block;
    padding: 5px 0;
}
.top_navigation ul li {
    border-right: 1px solid #666666;
    display: inline-block;
    margin-right: 6px;
    padding-right: 6px;
    float: left;
}


/* Main (Event) Navigation */

.header_container {
  position: relative;
}
.header_container .main_navigation {
  position: absolute;
  top: 1px;
  left: 2px;
}

.sf-menu {
  float: none;
  margin-bottom: 0;
  padding-left: 10px;
}
.sf-menu li {
  background-color: transparent;
  display: inline-block;
  float: left;
  padding: 9px 0px;
}
.sf-menu li a,
.sf-menu li span {
  border: none;
  font-size: 15px;
  line-height: 15px;
  padding: 0 15px;
}
.sf-menu li:hover,
.sf-menu li:hover a,
.sf-menu li:hover li,
.sf-menu li.sfHover,
.sf-menu li.sfHover a,
.sf-menu li.sfHover li {
  background-color: #FCDD80;
}
.sf-menu > li > a,
.sf-menu > li > span {
  border-right: 1px solid #333333;
}
.sf-menu > li.last > a,
.sf-menu > li.last > span {
  border-right: none;
}
.sf-menu li a,
.sf-menu li a:visited {
  color: #333;
}
.sf-menu ul {
  width: auto;
}
.sf-menu ul li {
  display: block;
  float: left;
  padding: 0px;
}
.sf-menu ul li a {
  border-bottom: 1px solid #000;
  padding: 5px 0;
  white-space: nowrap;
  margin: 0 15px;
}
.sf-menu ul li.last a {
  border-bottom: none;
}
.sf-menu ul ul {
    width: auto;
}
.sf-menu li:hover ul, 
.sf-menu li.sfHover ul {
    top: 33px;
    min-width: 100%;
}

.sf-menu li a.dm_current {
    font-weight: bold;
}




.sf-menu ul li span.dm_inactive {
  display: none;
}




.navigation_bread_crumb {
  margin-bottom: 20px;
}